<script src="department-update.component.ts"></script>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Update Department</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="department_name">Department name</label>
        <input [(ngModel)]="department.name" type="text" class="form-control" id="department_name">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="department_latitude">Department latitude</label>
        <input [(ngModel)]="department.latitude" type="text" class="form-control" id="department_latitude">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="department_longitude">Department longitude</label>
        <input [(ngModel)]="department.longitude" type="text" class="form-control" id="department_longitude">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 mt-2 mb-5">
      <button (click)="saveDepartment()" class="btn btn-success btn-block">Save</button>
    </div>
  </div>
</div>


